body {
  font-family: 'Orbitron', sans-serif;
  /* background: url('./images/Twelve-background.jpg');  */
  background-color: azure;
}

.btn {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  margin-top: -16px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.btn-start {

}

.btn-stop {

}


.clock {
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
}

.logo {
  padding-right: 5px;
}

.lspace {
  padding-left: 24vw;
}

.part {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 36px;
  font-weight: bold;

}


.top {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  border-radius: 0;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

