body {
  font-family: 'Orbitron', sans-serif;
  /* background: url('./images/Twelve-background.jpg');  */
  background-color: azure;
}


.logo {
  padding-right: 5px;
}

.lspace {
  padding-left: 24vw;
}


.top {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  border-radius: 0;
}