body {
  font-family: 'Orbitron', sans-serif;
  /* background: url('./images/Twelve-background.jpg');  */
  background-color: azure;
}

.clock {
  display: inline-block;
}

.logo {
  padding-right: 5px;
}

.lspace {
  padding-left: 24vw;
}


.top {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  border-radius: 0;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

